.playlists-box {
    padding: 10px 0;
    height: calc(100vh - 56px);
    overflow-y: scroll;
}

@media  only screen and (max-width:767px) {
    .playlists-box {
        height: calc(40vh - 38px);
        margin-bottom: 10px;
    }
}

.playlists-box button {
    color: #212227;
    font-weight: 700;
    background-color: #E9D6EC;
    transition: background-color 0.3s;
}

.playlists-box button:hover, .playlists-box button:active, .playlists-box button:focus {
    color: #212227;
    background-color: #e5c3ea;
}

.playlists-box .remove-button {
    color: #E9D6EC;
    background-color: #8c72b4;
    border: none;
    border-radius: 0 8px 8px 0;
}

.playlists-box .remove-button:hover, .playlists-box .remove-button:active, .playlists-box .remove-button:focus {
    color: #E9D6EC;
    background-color: #937dba;
}

.playlists-box .card {
    background-color: #8364B5;
    color: #E9D6EC;
    border-width: 0;
    flex-direction: row;
}

.playlists-box .card-body {
    min-width: 0;
}

.playlist-item:hover {
    background-color: #7d59b6;
    transition-duration: 300ms;
    cursor: pointer;
}

.playlist-create-form {
    color: #ffffff;
    margin: 150px 50px;
}

.playlists-box .track-item img {
    height: 100px;
    width: 100px;
}
