.songs-box {
    padding: 10px 0 !important;
    height: calc(100vh - 56px);
    overflow-y: scroll;
}

.songs-box .row {
    width: 100%;
}

.songs-column {
    padding: 10px 0;
}

@media  only screen and (max-width:767px) {
    .songs-box {
        height: calc(60vh - 28px);
    }
}

.songs-box button {
    color: #E9D6EC;
    font-weight: 700;
    background-color: #212227;
}

.songs-box button:hover, .songs-box button:active, .songs-box button:focus {
    color: #E9D6EC;
    background-color: #3e4041;
    transition-duration: 300ms;
}

.songs-box .add-button {
    background-color: #42444e;
    border: none;
    border-radius: 0 0 8px 8px;
}

.songs-box .add-button:hover, .songs-box .add-button:active, .songs-box .add-button:focus {
    background-color: #696c7b;
}

.songs-box .card {
    background-color: #212227;
    color: #E9D6EC;
    border-width: 0;
}
