.track-item .card-title, .track-item .card-subtitle {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: color 0.2s;
}

.track-item .card-title:hover {
    color: #baa6bd;
    cursor: pointer;
}

.preview-player {
    width: 100%;
    height: 20px;
    margin-top: 10px;
}
