::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #676767;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

::-webkit-scrollbar-track {
    background: #2f2f2f;
}
